aiohttp
python-decouple
pyaesni
psutil
html_telegraph_poster
lxml[html_clean]
lxml_html_clean
pymediainfo
tgcrypto
https://github.com/New-dev0/Telethon/archive/diamond.zip
Flask>=2.0
speedtest-cli
pyrofork
motor
